<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    <hr>

<div class="links">
<div class="celebrities buttons-back index">
    <a href="/celebrities">Celebrities List</a>
    <a href="/celebrities/create"> + Add new celebrity</a>
</div>

<div class="movies buttons-back index">
    <a href="/movies">Movies List</a>
    <a href="/movies/create"> + Add new movie</a>
</div>
</div>